@model HeartyHomeDecor.Utility.PagingList<HeartyHomeDecor.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Product Catalogue</h1>

<p>
    <a href="@Url.Action("AddProduct","Product")">Create New Product</a>
    @Html.ActionLink("Logut", "Logout", "Account", new { area = "Controller" }, new { style = "float:right;" })
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString", null, new { @placeholder = "Find by Product Name" })
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            @*<th>@Html.ActionLink("Id", "Product", new { sortField = "Id", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>*@
            <th>@Html.ActionLink("Product Name", "Product", new { sortField = "ProductName", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>@Html.ActionLink("Category", "Product", new { sortField = "CategoryName", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>@Html.ActionLink("SKU", "Product", new { sortField = "SKU", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>@Html.ActionLink("Product Detail", "Product", new { sortField = "ProductDetail", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>@Html.ActionLink("Price", "Product", new { sortField = "Price", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>@Html.ActionLink("Rating", "Product", new { sortField = "Rating", currentSortField = ViewBag.SortField, currentSortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>@item.Id</td>*@
                    <td>@item.ProductName</td>
                    <td>@item.CategoryName</td>
                    <td>@item.ProductDetail</td>
                    <td>@item.SKU</td>
                    <td>@item.Price</td>
                    <td>@item.Rating</td>
                    <td>
                        @Html.ActionLink("Edit", "UpdateProduct", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteProduct", new { Id = item.Id })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="4">No data available</td></tr>
        }
    </tbody>
</table>

<br />
<input type="button" value="Go Back" title="Cancel" class="btn btn-secondary ml-1" onclick="window.location.href='@Url.Action("Index", "Home")';" />
